.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.25s ease-out;
  }

.dark-mode {
    background-color: #1a1919;
    color: #999;
}

.Heading {
    display: flex;
    background: #000;
    overflow: hidden;
    height: 4rem;
}

.icon:hover {
    cursor: pointer;
    color: #A2A2A2
}

.Heading__Col {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    background: #403d3d;
    align-items: center;
    text-align: center;
    width: 99%;
    max-width: 99%;
    
    font-size: 2rem;
    color: #fff;
}

.anticon svg {
    font-size: 3rem;
}

.MainContainer {
    display: flex;
    height: calc(100vh - 2rem);
    background:#000;
    background-position: cover;
    margin-top: -32px
}

.Common_Display {
    display: flex;
}

.Col_Height {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 20rem;
}

.ant-carousel .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

/* .MobileView { 
    display: none !important;
} */

.MobileView--nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    
    width: 100%;
    margin: 30px auto;
    bottom: 0;
    
    position: absolute;
    z-index: 100;
}


@media only screen and (max-width: 1023px) {
    .Desktop {
        display: none;
    }

    .MobileView {
        display: block !important;
        height: 109vh;
        position: relative;
    }
}

@media screen and (orientation: portrait) {
    .MobileView {
        display: block !important;
        height: 100vh;
        position: relative;
    }

    .MobileView--nav {
        margin: 70px auto;
    }
}

/* @media only screen and (min-width: 1024px) {
    .MobileView {
        display: none !important;
    }
} */