.container{
  position: relative;
  padding: 0 5px;
  /*height: calc(100vh - 80rem);*/
}

.Chartt {
  /* margin: 0;
  left: 0;
  width: 104%; */
  /* padding: 0 5px; */
  overflow: hidden;
  background-color: var(--primaryDark);
}

.chartjs-render-monitor {
  height: 12.3rem !important;
}

@media only screen and (max-width: 770px) {
  .Chartt {
    width: 100%;
  }
}

@media (min-width: 771px) and (max-width: 1080px){
  .Chartt {
    width: 100%;
  }
}