.container{
  padding: 10px;
}

.Chartt {
  margin: 10px auto;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.8); 
}

.heading{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  background-color: black; 
}
  
@media only screen and (max-width: 770px) {
  .Chartt {
    width: 100%;
  }

  .heading{
      display: flex;
      justify-content: center;
      /*margin: 0 10px;*/
      width:100%;
  }
}

@media (min-width: 771px) and (max-width: 1080px){
  .Chartt {
    width: 100%;
  }

  .heading{
      display: flex;
      justify-content: center;
      /*margin: 0 10px;*/
      width:100%;
  }
}