.Dashboard {
    background-color: rgb(235, 232, 232);
}

.Dash-img{
    margin: 0px;
    background-image: url('../../assests/images/back-image2.jpg');
    background-size: cover;
}

.Chart{
    background-image: url('../../assests/images/back-image1.jpg');
    background-size: cover;
    justify-content: center;
    height: 30em;
}

header{
    display: flex;
    justify-content: center;
}

main{
    padding: 100px;
    margin-top: 0px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

section.Chart {
    justify-content: center;
}

.CountryPicker{
    display: flex;
    justify-content: center;
}

.CurrentCountry{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    background-color: black; 
}

@media only screen and (max-width: 770px){
    .CurrentCountry{
        display: flex;
        justify-content: center;
        /*margin: 0 10px;*/
        width: 80%;
    }
}